{% extends 'base.html' %}

{% block content %}
    <div class="container mt-4">
        {% include 'nav.html' %}

        <h3>Lista de Contatos</h3>

        <form method="get" class="row">
            <div class="col-9">
                <input type="text" name="search" class="form-control ">
                <div class="col-3">
                    <button type="submit" class="btn btn-primary">Pesquisar</button>
                </div>
            </div>
        </form>

        <div class="col-12 mt-4">
            <table class="table">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Email</th>
                        <th>Assunto</th>
                        <th>Detalhe</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in context['data'] %}
                    <tr>
                        <td>{{item.name}}</td>
                        <td>{{item.email}}</td>
                        <td>{{item.subject}}</td>
                        <td><a href="{{url_for('contact_detail', id=item.id)}}">Link</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}