{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <h3>Registro</h3>
    </div>
    <form action="" method="post" class="row mt-4 gap-2 rounded shadow border p-4">
        {{ form.csrf_token }}

        {{ form.name.label() }}
        {{ form.name(class="form-control") }}

        {{ form.email.label() }}
        {{ form.email(class="form-control") }}

        {{ form.password.label() }}
        {{ form.password(class="form-control") }}
           
        {{ form.confirm_password.label() }}
        {{ form.confirm_password(class="form-control") }}

        {{ form.btn_submit(class="btn btn-primary col-12") }}
    </form>
</div>
{% endblock %}